{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
<div class="pb-5 mt-5">
    <h1 class="text-light">{{ message }}</h1>
    <p class="text-light"><strong>Vous êtes : </strong></p>
    <p>
        <a type="button" class="btn btn-light" href="{{ path('app_order') }}">Commanditaire</a>
        <a type="button" class="btn btn-light" href="{{ path('app_larceny') }}">Brigand</a>
    </p>
</div>
{% endblock %}
